<ion-tabs>
  <ion-icon name="add-circle-outline" class="icon-button inner-center-btn"></ion-icon>
  <ion-tab-bar slot="bottom" class="bottom-tab-bar">
    <ion-tab-button tab="tab1">
      <ion-icon mode="md" name="home"></ion-icon>
      <ion-label>Marketplace</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2" class="inner-left-btn">
      <ion-icon name="triangle"></ion-icon>
      <ion-label>Friends</ion-label>
    </ion-tab-button>

    <ion-tab-button class="button-center" tab="tab3">
      <div></div>
    </ion-tab-button>

    <!-- <ion-tab-button tab="tab3">
      <ion-icon name="add-circle-outline" class="icon-button"></ion-icon>
      <ion-label>Request</ion-label>
    </ion-tab-button> -->

    <ion-tab-button tab="tab4" class="inner-right-btn">
      <ion-icon name="notifications"></ion-icon>
      <ion-label>Notifications</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab5">
      <ion-icon name="settings"></ion-icon>
      <ion-label>Settings</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>